In [7]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.format("csv").option("inferschema","True").option("header","True").option("sep",",").load('automobile_data.csv')

In [7]:
df.createOrReplaceTempView("df_view")

In [8]:
auto_df = spark.sql("select * from df_view")

In [10]:
auto_df.show()

+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|     make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164|     audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|       102|    5500|      24|         30|13950|
|        2|              164|     audi|      gas|       std|        four|     sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|       115|    5500|      18|         22|17450|
|        1|              158|     audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|              158|     audi|      gas|     turbo|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
|        2|              192|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16430|
|        0|              192|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16925|
|        0|              188|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|       121|    4250|      21|         28|20970|
|        0|              188|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|       121|    4250|      21|         28|21105|
|        2|              121|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|        48|    5100|      47|         53| 5151|
|        1|               98|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6295|
|        0|               81|chevrolet|      gas|       std|        four|     sedan|         fwd|          front|      94.5| 158.8| 63.6|  52.0|       1909|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6575|
|        1|              118|    dodge|      gas|       std|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|       2bbl|2.97|  3.23|             9.41|        68|    5500|      37|         41| 5572|
|        1|              118|    dodge|      gas|       std|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6377|
|        1|              118|    dodge|      gas|     turbo|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       2128|        ohc|            four|         98|       mpfi|3.03|  3.39|              7.6|       102|    5500|      24|         30| 7957|
|        1|              148|    dodge|      gas|       std|        four| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1967|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6229|
|        1|              148|    dodge|      gas|       std|        four|     sedan|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6692|
|        1|              148|    dodge|      gas|       std|        four|     sedan|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 7609|
|       -1|              110|    dodge|      gas|       std|        four|     wagon|         fwd|          front|     103.3| 174.6| 64.6|  59.8|       2535|        ohc|            four|        122|       2bbl|3.34|  3.46|              8.5|        88|    5000|      24|         30| 8921|
|        3|              145|    dodge|      gas|     turbo|         two| hatchback|         fwd|          front|      95.9| 173.2| 66.3|  50.2|       2811|        ohc|            four|        156|        mfi| 3.6|   3.9|              7.0|       145|    5000|      19|         24|12964|
|        2|              137|    honda|      gas|       std|         two| hatchback|         fwd|          front|      86.6| 144.6| 63.9|  50.8|       1713|        ohc|            four|         92|       1bbl|2.91|  3.41|              9.6|        58|    4800|      49|         54| 6479|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 20 rows

In [8]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext 

sc = SparkContext.getOrCreate();
sqlContext = SQLContext(sc)

In [27]:
sqlContext.sql("select * from df_view").show()

+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|     make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164|     audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|       102|    5500|      24|         30|13950|
|        2|              164|     audi|      gas|       std|        four|     sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|       115|    5500|      18|         22|17450|
|        1|              158|     audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|              158|     audi|      gas|     turbo|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
|        2|              192|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16430|
|        0|              192|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16925|
|        0|              188|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|       121|    4250|      21|         28|20970|
|        0|              188|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|       121|    4250|      21|         28|21105|
|        2|              121|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|        48|    5100|      47|         53| 5151|
|        1|               98|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6295|
|        0|               81|chevrolet|      gas|       std|        four|     sedan|         fwd|          front|      94.5| 158.8| 63.6|  52.0|       1909|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6575|
|        1|              118|    dodge|      gas|       std|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|       2bbl|2.97|  3.23|             9.41|        68|    5500|      37|         41| 5572|
|        1|              118|    dodge|      gas|       std|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6377|
|        1|              118|    dodge|      gas|     turbo|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       2128|        ohc|            four|         98|       mpfi|3.03|  3.39|              7.6|       102|    5500|      24|         30| 7957|
|        1|              148|    dodge|      gas|       std|        four| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1967|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6229|
|        1|              148|    dodge|      gas|       std|        four|     sedan|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 6692|
|        1|              148|    dodge|      gas|       std|        four|     sedan|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       1989|        ohc|            four|         90|       2bbl|2.97|  3.23|              9.4|        68|    5500|      31|         38| 7609|
|       -1|              110|    dodge|      gas|       std|        four|     wagon|         fwd|          front|     103.3| 174.6| 64.6|  59.8|       2535|        ohc|            four|        122|       2bbl|3.34|  3.46|              8.5|        88|    5000|      24|         30| 8921|
|        3|              145|    dodge|      gas|     turbo|         two| hatchback|         fwd|          front|      95.9| 173.2| 66.3|  50.2|       2811|        ohc|            four|        156|        mfi| 3.6|   3.9|              7.0|       145|    5000|      19|         24|12964|
|        2|              137|    honda|      gas|       std|         two| hatchback|         fwd|          front|      86.6| 144.6| 63.9|  50.8|       1713|        ohc|            four|         92|       1bbl|2.91|  3.41|              9.6|        58|    4800|      49|         54| 6479|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 20 rows

In [48]:
spark.sql("select make, symboling from df_view").show()

+---------+---------+
|     make|symboling|
+---------+---------+
|     audi|        2|
|     audi|        2|
|     audi|        1|
|     audi|        1|
|      bmw|        2|
|      bmw|        0|
|      bmw|        0|
|      bmw|        0|
|chevrolet|        2|
|chevrolet|        1|
|chevrolet|        0|
|    dodge|        1|
|    dodge|        1|
|    dodge|        1|
|    dodge|        1|
|    dodge|        1|
|    dodge|        1|
|    dodge|       -1|
|    dodge|        3|
|    honda|        2|
+---------+---------+
only showing top 20 rows

In [1]:
#spark.sql("select make, symboling from df_view where make='audi' and symboling = 2").write.saveAsTable("high_symbol_audi")

In [1]:
import pyspark
pyspark.__version__

'3.2.0'

In [10]:
from pyspark import SparkContext
sc = SparkContext()
sc.addPyFile('C:/Users/acayiray/Downloads\/-3.2.0-bin-hadoop3.2 (1)/spark-3.2.0-bin-hadoop3.2/jars/graphframes-0.5.0-spark2.1-s_2.11.jar')

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at C:\Users\acayiray\AppData\Local\Temp/ipykernel_3276/2979621849.py:2

In [2]:
from pyspark.sql.functions  import col
import pandas as pd
from graphframes import GraphFrame

ModuleNotFoundError: No module named 'graphframes'